@import url('https://fonts.googleapis.com/css?family=Catamaran|Montserrat:700');


#nav-bar-container {
  height: 60px;
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 1px 1px darkgray;  
}

#nav-bar-avatar-image {
  width: 35px;
  height: 35px;
  background-image: image-url('avatar');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 7px;
}

.nav-bar {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-radius: 1px;
  position: absolute;
  width: 80%;
  left: 10%;
  margin: 0 auto;
  // font-family: Geneva;
  font-family: 'Catamaran', sans-serif;
}

.nav-bar h1 {
  padding: 15px;
  // font-family: Avenir Next;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  // font-weight: 700;
  color: orangered;
  letter-spacing: 1px;
}

.session-buttons {
  display: flex;
  align-items: center;
}

.session-buttons ul {
  margin: 0;
  padding: 0;
}

.session-buttons li {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
}

.session-buttons a {
  padding: 11px 5px;
}

.session-buttons a:hover {
  border-bottom: 5px orangered solid;
}

.session-logged-in {
  display: flex;
  align-items: center;
  margin: 5px;
}

.session-logged-in p {
  margin: 10px;
  font-size: 17px;
}

.active {
  border-bottom: 5px orangered solid;  
}


@media all and (max-width: 925px) {
  .nav-bar {
    width: 100%;
    left: 0;
  }

  #nav-buttons-logged-in > ul > li {
    margin: 15px 5px;
  }
}

@media all and (max-width: 700px) {
  .session-logged-in {
      display: none;
  }
}

@media all and (max-width: 600px) {
  .nav-bar {
    width: 100%;
    left: 0;
  }

  #nav-bar-buttons {
    padding: 11px 1px;
  }

  .session-logged-in {
    display: none;
  }
}

#nav-buttons-logged-in {
  height: 60px;
  display: flex;
  align-items: center;
}

#nav-buttons-logged-in ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
  align-items: center;
}

#nav-buttons-logged-in li {
  margin: 15px;
}

#nav-bar-buttons {
  padding: 11px 5px;  
}

#nav-buttons-logged-in h1 {
  padding: 0 15px;
}

#nav-bar-buttons:hover {
  border-bottom: 5px orangered solid;  
}

