#map-controls {
  width: 100%;
  height: 50px;
  background: whitesmoke;
  display: flex;
  position: absolute;
  top: 60px;
  z-index: 99;
  box-shadow: 2px 1px 2px lightgray;
  align-items: center;
}

#map-search {
  display: flex;
  background: whitesmoke;
  align-items: center;
  margin: 0;
  font-family: Helvetica Neue;
}

#map-search form {
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 15px;
}

#search-bar {
  width: 220px;
  margin: 0;
  height: 40px;
  background: white;
  color: black;
  font-size: 14px;
  text-align: left;
  padding: 0 0 0 5px;
}

#recenter-button {
  margin: 0;
  width: 65px;
  height: 40px;
  font-size: 24px;
  background: lightgray;
  color: gray;
  text-align: center;
}

#recenter-button:hover {
  background: gray;
  color: whitesmoke;
}

#route-controls {
  margin: 0 50px;
  display: flex;
  align-items: center;
}

#map-controls button {
  margin: 0;
  width: 65px;
  height: 40px;
  color: gray;
  font-size: 20px;
  text-align: center;
}

#route-controls p {
  font-size: 12px;
}

#map-controls button:hover {
  background: gray;
  color: whitesmoke;
}

#route-sport {
  display: flex;
  align-items: center;
}

#route-sport p {
  font-size: 12px;
}

#route-save-button {
  background: orangered;
  color: whitesmoke !important;
  font-size: 14px !important;
  font-weight: 700;
}