#route-stats-bar {
  font-family: Helvetica Neue;
  font-weight: 300;
}

#route-stats-bar li {
  font-size: 11px;
  color: lightslategray;
  padding: 10px;
  margin: 0 35px;
  letter-spacing: 1px;
}

#route-stats-bar p {
  font-size: 25px;
  color: darkslategray;
}

#route-stats-bar {
  position: absolute;
  height: 50px;
  width: 96%;
  bottom: 30px;
  left: 2%;
  z-index: 99;
  background: whitesmoke;
  box-shadow: 1px 1px 1px lightgray;
  display: flex;
  align-items: center;
}

#route-stats-bar ul {
  display: flex;
}
