
#activities-index h1 {
  color: slateblue;
  font-size: 30px;
  font-family: Helvetica Neue;
  font-weight: 300;
  padding: 20px;
}

#activities-index {
  height: 100%;
  width: 80%;
  font-family: Helvetica Neue;
  font-size: 14px;
  margin: 0 auto;
}

#activities-index header {
  padding: 100px 0 0 0;
  display: block;
  height: 175px;
  border-bottom: 1px darkgray solid;
}

#activities-list {
  padding: 0 40px 40px 40px;
}

#activity-item {
  background: lightslategray;
  color: whitesmoke;
}

#activity-item ul {
  display: flex;
}

#activity-item li {
  padding: 10px;
}

#activities-index h2 {
  padding: 25px 0 0 25px;
  font-size: 26px;
  font-family: Helvetica Neue;
  font-weight: 300;
}

#activity-index-buttons {
  display: flex;
  align-items: center;
}

#activity-button-container {
  display: flex;
}

#activity-index-buttons h2 {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
}

#activity-index-buttons a {
  font-family: Geneva;
  display: inline-block;
  margin: 20px;
  padding: 12px;
  background: orangered;
  color: white;
  border-radius: 2px;
  font-size: 14px;
}

#activity-index-buttons a:hover {
  background: #BB4720;
}
