#activities-list-table {
  background: whitesmoke;
  margin: 10px auto 30px auto;
  border-radius: 1px;
  color: darkslategray;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#activities-list-table th {
  padding: 20px 40px;
  background: rgb(230, 230, 235);
}

#activities-list-table tr {
  border-bottom: 1px solid lightgray;
}

#activities-table td {
  height: 30px;
  padding: 5px 10px;
}

#activities-list-table tr:nth-of-type(2n + 1) {
  background: rgb(235, 235, 240);
}

#activities-list-table tr:nth-of-type(2n) {
  background: whitesmoke;
}

#activities-table a, td > button {
  color: #317EB1;
}

