#activity-show-block {
  padding: 15px 0;
}

#activity-show-page {
  width: 80%;
  color: darkslateblue;
  padding: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#activity-show-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  width: 60%;
}

#show-header-div {
  display: flex;
  align-items: center;

}

#activity-show-page h1 {
  font-size: 24px;
  padding: 10px 30px;
}

#activity-show-page h3 {
  font-size: 16px;
  padding: 10px;
  font-weight: 300;
  margin: 0;
}

#activity-show-page a {
  display: block;
  padding: 10px;
  margin: 0 20px;
  width: 45px;
  background: orangered;
  color: whitesmoke;
  text-align: center;
  border-radius: 2px;
}

#activity-show-page a:hover {
  background: #bb4720;
}

#activity-show-page ul {
  padding: 20px;
  background: whitesmoke;
  margin: 40px auto;

}

#show-top-row-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 !important; 
  margin: 0 auto !important;
  background: rgb(240, 240, 240) !important;
}

#show-stats-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#show-stats-div div {
  font-size: 22px;
  font-weight: 300;
  padding: 0 25px;
}

#show-stats-div div > p {
  font-size: 12px;
}

#activity-show-page li > p, li > div {
  padding: 15px;
}

#show-title-div h3 {
  font-size: 12px;
  padding: 0 10px;
  font-weight: 700;
  color: slategray;
}

#show-title-div h1 {
  padding: 0 10px;
}

#large-route-image {
  height: 360px;
  width: 600px;
}

.show-bottom-info {
  padding: 0 0 10px 0 !important;
  margin: 0 auto !important;
}


#show-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#activity-description-div h3 {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  margin-top: 10px
}

#activity-description-div p {
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
}