
#new-activity-form {
  padding: 25px 15px 0 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid darkgray;
}

#activity-form-row-1 {
  display: flex;
}

#activity-form-row-1 input {
  text-align: center;
}

#activity-form-row-2 {
  display: flex;
}

#activity-form-row-3 {
  display: flex;
}

#new-activity-form label {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

#activity-form-row-2 input {
  text-align: center;
}

#new-activity-form input {
  border: 1px solid lightgray;
  padding: 5px;
  margin: 5px;
  height: 25px;
  border-radius: 1px;
}

#new-activity-form input:focus {
  border: 1px solid #317EB1;
}

#new-activity-form textarea {
  border: 1px solid lightgray;
  padding: 5px;
  margin: 5px;
  height: 50px;
  width: 510px;
  border-radius: 1px;
}

#new-activity-form select {
  margin: 5px;
  padding: 5px;
  height: 35px;
  background: whitesmoke;
}

#new-activity-button  {
  font-family: Geneva;
  display: inline-block;
  margin: 20px;
  padding: 12px;
  background: orangered;
  color: white;
  border-radius: 2px;
  font-size: 14px;
}

#active-new-activity-button  {
  font-family: Geneva;
  display: inline-block;
  margin: 20px;
  padding: 12px;
  background: #F1976F;
  color: white;
  border-radius: 2px;
  font-size: 14px;
}

#new-activity-button:hover {
  background: #BB4720;
}

#activity-submit-button {
  font-family: Geneva;
  display: block;
  background: orangered;
  border: none !important;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  width: 55px;
  text-align: center;
  height: 30px;
  border-radius: 2px;
}

#activity-submit-button:hover {
  background: #bb4720;
}

#cancel-new-activity {
  color: slateblue;
  margin: 15px;
  height: 100%;
}

#close-form-buttons {
  padding: 20px 0;
  // border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
}

#cancel-new-activity:hover {
  text-decoration: underline;
}

#activity-description textarea:focus {
  border: 1px solid #317EB1;
}

#duration-input {
  display: flex;
  border: 1px solid lightgray;
  height: 25px;
  margin: 5px;
  padding: 5px;
  align-items: center;
  width: 228px;
  border-radius: 1px;
  justify-content: right;
}

#distance-elevation-divs {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 1px;
  height: 25px;
  margin: 5px;
  padding: 5px;
  align-items: center;
  width: 228px;
  justify-content: right;
}

#distance-elevation-divs p {
  color: lightgray;
}

#distance-elevation-divs input {
  border: none;
  text-align: right;
}

#distance-elevation-divs input:focus {
  border: none;
}

#duration-input input {
  width: 40px;
  border: none;
  height: 20px;
  text-align: right;
}

#duration-input p {
  color: lightgray;
}

#duration-input input:focus {
  border: none;
}

#activity-title input {
  width: 510px;
}

#duration-input:focus {
  border: 1px solid #317EB1
}

#duration-label:focus #duration-input {
  border: 1px solid #317EB1
}