


.dashboard:hover {
  cursor: pointer;
  background: rgba(240, 233, 233, 0.65);
  color: orangered;
}

.dashboard {
  background: rgba(52, 28, 26, 0.65);
  color: whitesmoke;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
