#dashboard {
  background: whitesmoke;
  height: 100%;
}

.route-builder-link:hover {
  cursor: pointer;
  background: rgba(240, 233, 233, 0.65);
  color: orangered;
}

.route-builder-link {
  background: rgba(52, 28, 26, 0.65);
  color: whitesmoke;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: absolute;
  top: 100px;
  left: 100px;
}
