
.nav-bar {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-radius: 1px;
  position: absolute;
  width: 100%;
  // z-index: 99;
}

.nav-bar h1 {
  padding: 15px;
  font-family: Avenir Next;
  font-size: 40px;
  font-weight: 700;
  color: orangered;
  letter-spacing: 2px;
}

.session-buttons {
  display: flex;
  align-items: center;
}

.session-buttons ul {
  margin: 0;
  padding: 0;
}

.session-buttons li {
  display: inline-block;
  margin: 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
}

.session-buttons a {
  padding: 16px 5px;
}

.session-buttons a:hover {
  border-bottom: 5px orangered solid;
}

.session-logged-in {
  display: flex;
  align-items: center;
  margin: 5px;
}

.session-logged-in p {
  margin: 10px;
  font-weight: 700;
  font-size: 14px;
}

.session-logged-in button {
  display: block;
  margin: 10px;
  padding: 10px;
  background: orangered;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 12px;
}

.session-logged-in button:hover {
  background: darkorange;
}

.active {
  border-bottom: 5px orangered solid;  
}

@media all and (max-width: 500px) {
  .nav-bar {
    height: 134px;
    display: block;
    text-align: center;
  }

  .session-buttons {
    justify-content: center;
  }
}