
$imgKey: random(6);
$list: "1", "2", "3", "4", "5", "6";
$nth: nth($list, $imgKey);

.session-main {
  display: flex;
  justify-content: center;
  font-family: Geneva;
  background-image: image-url("splash_background#{$nth}");
  // background-image: image-url('splash_background2');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

.session-main > h1 {
  margin: 250px 0 !important;
}

.session-main > div {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;
  background: rgba(0, 0, 0, 0.65);
  padding: 20px;
  border-radius: 2px;
  position: absolute;
}

.session-main label {
  text-align: center;
  font-family: inherit;
  color: whitesmoke;
  margin: 15px;
}

.session-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  font-family: Geneva;
}

.session-main h3 {
  color: whitesmoke;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 15px;
}


.errors-list {
  color: #ff0000;
  padding: 0;
  list-style: none;
}

.errors-list li {
  text-align: center;
}

.session-main input {
  width: 240px;
  height: 30px;
  display: block;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  color: lightgray;
  border: none;
  font-family: ARIAL;
  font-weight: 700;
  border-radius: 1px;
}

.session-main input:focus {
  background: whitesmoke;
  color: black;
}

// log in/sign up buttons
#submit-input {
  border-radius: 1px;
  background: orangered;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

#submit-input:hover {
  background: darkorange;
}

// demo login button
.session-main button {
  width: 240px;
  background: orangered;
  color: whitesmoke;
  height: 30px;
  border: none;
  border-radius: 1px;
  margin: 10px 0 15px 0;
  font-size: 14px;
  font-family: arial;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.session-main button:hover {
  background: darkorange;
}

#demo-redirect {
  border-radius: 1px;
  background: orangered;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  width: 240px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px;
  font-family: arial;
  font-weight: 700;
  font-size: 14px;
}

#demo-redirect:hover {
  background: darkorange;
}


#signup-form-with-errors {
  border: 2px red solid;
  background: whitesmoke;
  width: 236px;
  height: 26px;
  border-radius: 1px;
}

#signup-form p {
  margin: 0 0 -10px 0;
  font-size: 11px;
  color: red;
  height: 15px;
}

@media all and (max-height: 700px) {
  .session-main {
    height: 800px;
  }
}