
.session-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: geneva;
  background-image: image-url('splash_background');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.session-main > div {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background: rgba(0, 0, 0, 0.65);
  padding: 20px;
  border-radius: 2px;
}

.session-main label {
  justify-content: center;
  text-align: center;
  font-family: inherit;
  color: whitesmoke;
  margin: 10px;
}

.session-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: geneva;
}

.session-main h3 {
  color: whitesmoke;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 15px;
}

.errors-list {
  color: #ff0000;
  padding: 0;
  list-style: none;
}

.errors-list li {
  text-align: center;
}

.session-main input {
  width: 240px;
  height: 30px;
  display: block;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  color: lightgray;
  border: none;
  font-family: inherit;
}

.session-main input:focus {
  background: white;
  color: black;
}

// log in/sign up buttons
#submit-input {
  border-radius: 1px;
  background: orangered;
  color: white;
  border: none;
  cursor: pointer;
}

// demo login button
.session-main button {
  width: 240px;
  background: orangered;
  color: white;
  height: 30px;
  border: none;
  border-radius: 1px;
  margin: 10px 0 15px 0;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

#demo-redirect {
  border-radius: 1px;
  background: orangered;
  color: white;
  border: none;
  cursor: pointer;
  width: 240px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px;
}


#signup-form-with-errors {
  border: 2px red solid;
  background: whitesmoke;
}

#signup-form p {
  margin: 0 0 -10px 0;
  font-size: 11px;
  color: red;
}

#show p {
  display: block;

}