.routes-index-item {
  display: inline-block;
}

.routes-index-item ul {
  background: whitesmoke;
  margin: 0;
  width: 300px;
  height: 350px;
}

.routes-index-item h3 {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: darkslateblue
}

#route-image {
  height: 200px;
  width: 300px;
}

